*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body {
  margin: 0;
}

:root {
  background: url("/bg-5.svg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 144px 32px 32px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 900;
}

.title span {
  display: block;
  color: rgb(147, 51, 234);
}